<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        首頁
      </a>

      <a class="navbar-item">
        文章
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          更多
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            關於
          </a>
          <a class="navbar-item">
            工作
          </a>
          <a class="navbar-item">
            聯絡方式
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            問題回報
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
            <%= link_to new_member_registration_path, class: 'button is-primary' do %>
              <strong>註冊</strong>
            <% end %>
            <%= link_to '登入', new_member_session_path, class: 'button is-light' %>
        </div>
      </div>
    </div>
  </div>
</nav>