<div class="more-story-back">
  <div class="more-story-head">
    <h4 class="title is-5 more-story-hr">更多文章<h4>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </div>
</div>
<div class="more-story-footer">
  <div class="more-story-head">
    <div class="more-story-box has-text-white">
      123
      <br />
      <br />
      <br />
      <br />
      <br />
    </div>
    <div class="more-story-box has-text-white">
      123
      <br />
      <br />
      <br />
      <br />
      <br />
    </div>
    <div class="more-story-box1 has-text-white">
      123
      <br />
      <br />
      <br />
      <br />
      <br />
    </div>
  </div>
  <div class="is-clearfix"></div>
  <div class="more-story-head">
    <hr class="dividing-line">
    <div class="more-story-box2">  
      <h4 class="title is-3 has-text-white">Medium<h4>
    </div>
    <div class="button-right">
      <p class="button-left1 has-text-white">關於</p>
      <p class="button-left1 has-text-white">幫助</p>
      <p class="button-left has-text-white">服務條款</p>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
</div>