.clearfix {
  clear:both;
}

.link-unchoose {
  color: gray !important;
}

/* 頁首抬頭 */
.member-title {
  text-align: center;
}

/*會員表單填寫設定*/
.form-center {
  width: 400px;
  margin: 0 auto;
}

/* 文章表單 */
.story-form {
  width: 960px;
  margin: 0 auto;
}
.story-list-title {
  display:flex; 
  justify-content: space-between; 
  padding-bottom: 2.5rem;
  padding-right: 5rem;
}
.story-action-botton{
  width:70px !important; 
  margin-left: 8.5rem; 
  text-align: center; 
}

/* 文章 show 頁面 */
.story-container {
  width: 60%; 
  margin: 0 auto;
}
.story-content {
  margin-bottom: 70px;
}
.story-hr {
  border-top:0.3px #D4D4D4 solid; 
  border-bottom:0.3px #D4D4D4 solid; 
  margin: 2rem 0; 
  padding: 2rem 0;
}
.more-story-hr { 
  border-bottom:0.3px #D4D4D4 solid; 
  padding: 1rem 0;
}
.more-story-back {
  background-color:#F5F5F5;
}
.more-story-head {
  width: 1190px; 
  margin: 0 auto; 
  padding-top: 1.5rem;
}

/* 按鈕 */
.button-center {
  width: 250px; 
  margin: 0 auto;
}
.button-right {
  float: right;
}
/* 給字少的按鈕用 */
.less-button-center {
  width: 130px; 
  margin: 0 auto;
}
.one-button-center {
  width: 50px; 
  margin: 0 auto;
}
.button-right-space {
  margin-right: 10px;
}

/* 錯誤訊息 */
.error-message {
  width: 400px;
  margin: 0 auto;
  text-align: left;
}
.field_with_errors{
  color: red;
}
.field_with_errors .input{
  border: 1px red solid;
}
.message-bar {
  background-color: #D4FFD4;
  border-radius: 4px;
  padding: 0.7rem 0.7rem 0.7rem 0.7rem;
  position: relative;
}
.message-bar-alert-long {
  background-color: #FFBFBF;
  border-radius: 4px;
  padding: 0.7rem 0.7rem 0.7rem 0.7rem;
  margin-bottom: 0.3rem;
  position: relative;
}
.message-bar-alert {
  background-color: #FFBFBF;
  border-radius: 4px;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin-bottom: 0.3rem;
  position: relative;
}

/* 手機選單顯示 */
.mobile-show {
  background-color: white;
  float: right !important;
  position: absolute !important;
  right: 0;
}